<!DOCTYPE html>
<html>
  <head>
    <title>CRUD de Clientes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
  <div class="container">
      <h1>
          <%= title %>
      </h1>
      <p>Preencha os dados abaixo para salvar o cliente.</p>
      <div id="alertCadastro" class="alert alert-danger col-sm-6">
        <strong>Erro!</strong> Nome é um dado obrigatório!
      </div>
      <form id="frmCadastro" action="<%= action %>" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label" for="nome">Nome: 
                <input type="text" id="nome" name="nome" value="<%= doc.nome %>" class="form-control" />
            </label>
          </div>
          <div class="form-group">
            <label class="control-label" for="idade">Idade:
                <input type="number" id="idade" name="idade" value="<%= doc.idade %>" class="form-control" />
            </label>
          </div>
          <div class="form-group">
            <label class="control-label">UF:
              <select name="uf" class="form-control">
              <% const s = "selected" %>
              <option <% if(doc.uf === "RS") { %><%= s %><% } %>>RS</option>
              <option <% if(doc.uf === "SC") { %><%= s %><% } %>>SC</option>
              <option <% if(doc.uf === "PR") { %><%= s %><% } %>>PR</option>
              <!-- coloque os estados que quiser -->
              </select>
            </label>
          </div>
          <div class="form-group">
            <a href="/" class="btn btn-default">Cancelar</a> <input type="submit" value="Salvar" class="btn btn-primary" />
          </div>
      </form>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts-new.js"></script>
  </body>
</html>